/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

:root {
  --primary-color: #f4c04f;
  --primary-color-light: #f9d657;
  --primary-color-lightest: #fdf4a8;
  --primary-color-dark: #efa947;

  --secondary-color: #3c3c3c;
  --secondary-color-light: #b7b7b7;
  --secondary-color-dark: #1c1c1c;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

.chat-container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}

.chat-sidebar {
  width: 30%;
  background: var(--secondary-color-light);
}

.chat-window {
  display: flex;
  flex-direction: column;
  background: var(--primary-color-lightest);
  padding: 10px;
  justify-content: flex-end;
  width: 70%;
}

.message-input-container {
  display: flex;
  align-items: center;
  gap: 5px;
  position: sticky;
}

.message-input {
  width: 100%;
  min-height: 3rem;  
  max-height: 10rem;
  padding: 10px;
  border: 1px solid var(--primary-color-dark);
  background: var(--primary-color-light);
  color: var(--secondary-color);
  border-radius: 5px;
}

.message-send {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1px;
  align-self: flex-end;
  border-color: var(--secondary-color);
  background: var(--secondary-color-dark);
}

.message-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  overflow: auto;
}

.message-item {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--secondary-color);
  max-width: 50%;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}