/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

:root {
  --primary-color: #f4c04f;
  --primary-color-light: #f9d657;
  --primary-color-lightest: #fdf4a8;
  --primary-color-dark: #efa947;

  --secondary-color: #3c3c3c;
  --secondary-color-light: #b7b7b7;
  --secondary-color-dark: #1c1c1c;
}

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p {
  margin: var(--size-6);
}

body > picture,
button {
  display: block;
  text-align: center;
  margin: 2rem;
  height: 3rem;
  border-radius: 5px;
  margin: 1px;
  background: var(--secondary-color-dark);
}

dialog::backdrop {
  background:rgba(55,55,55,.6);
  backdrop-filter: blur(10px);
}

.chat-container {
  display: flex;
  justify-content: flex-start;
  height: 100vh;
}

.chat-sidebar {
  width: 15%;
  background: var(--secondary-color);
  overflow: auto;
}

.chat-list {
  display: flex;
  flex-direction: column;
  padding-right: 1%;
  padding-left: 1%;
}

.new-chat-button,
.chat-item {
  display: flex;
  border-style: solid none none none;
  border-color: var(--primary-color-lightest);
  border-width: 1px;
  border-radius: 0;
  background: var(--secondary-color);
  color: var(--primary-color);
  margin: 1px;
  height: 4rem;
  font-weight: normal;
  font-size: 1rem;
  padding: 1rem;
  justify-content: flex-start;
  align-items: start;
  cursor: pointer;
}

.new-chat-button {
  width: 100%;
}

.new-chat-button:hover,
.chat-item:hover {
  box-shadow: none;
  background: var(--secondary-color-dark);
  transform: scale(1.05);
}

.new-chat-dialog {
  align-self: anchor-center;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 var(--secondary-color);
  padding: 1rem;
}

.chat-window {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color-dark);
  padding: 10px;
  justify-content: flex-end;
  width: 85%;
}

.chat-window__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.message-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  position: sticky;
}

.message-input {
  width: 100%;
  min-height: 3rem;  
  max-height: 10rem;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.message-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 5px;
  overflow: auto;
}

.message-item {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--secondary-color);
  max-width: 50%;
  text-align: left;
  word-wrap: break-word;
  white-space: pre-wrap;
}